@font-face { 
    font-family: Yanone Kaffeesatz; 
      src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
      src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
  } 
.info
{
    float: left;
    top: -2px;
    width: 200px;
    margin: 20PX;
}
div .parrafoaside
{
    font-family: Yanone Kaffeesatz; 
    padding: 0px 15px 0px 15px; 
    margin-bottom: 20px;
    text-align: justify;
    font-size: 20px;
}
td, th
{
    height: 50px;
}